<?xml version="1.0" encoding="UTF-8"?>

        <web-app version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


    <servlet>

    <servlet-name>GetList</servlet-name>

    <servlet-class>com.example.HWPro4ChatServer.GetListServlet</servlet-class>

</servlet>


    <servlet-mapping>

    <servlet-name>GetList</servlet-name>

    <url-pattern>/get</url-pattern>

</servlet-mapping>


    <servlet>

    <servlet-name>Add</servlet-name>

    <servlet-class>com.example.HWPro4ChatServer.AddServlet</servlet-class>

</servlet>


    <servlet-mapping>

    <servlet-name>Add</servlet-name>

    <url-pattern>/add</url-pattern>

</servlet-mapping>
    <servlet>

        <servlet-name>ParticipantsTable</servlet-name>

        <servlet-class>com.example.HWPro4ChatServer.ParticipantsTable</servlet-class>

    </servlet>


    <servlet-mapping>

        <servlet-name>ParticipantsTable</servlet-name>

        <url-pattern>/table</url-pattern>

    </servlet-mapping>


</web-app>